/* لتغيير لون التقدم */
.my-back-to-top svg circle[stroke]:last-of-type {
    stroke: rgb(12, 188, 215) !important;
}

/* لتغيير لون خلفية التقدم */
.my-back-to-top svg circle[stroke]:first-of-type {
    stroke: rgb(223, 220, 220) !important;
}

/* تغيير الخلفية السوداء إلى اللون الذي تريده */
.my-back-to-top svg circle[fill] {
    fill: transparent !important;
}

.dark .my-back-to-top svg circle[fill] {
    fill: transparent !important;
}