body{
    height: 1gitgg000px;
}

.dashboard {
  padding: 20px;
}

.order-status h5 {
  color: gray;
  margin-bottom: 5px;
}

.order-status h2 {
  margin-bottom: 20px;
}

.status-grid {
  display: grid;
  background-color: black;
  grid-template-columns: repeat(3, 220px);
  gap: 16px;
  padding:20px;
  width: max-content
 
  
}

.card {
  background: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #ddd;
}

.card h4 {
  font-size: 14px;
  margin-bottom: 20px;
}

.card h1 {
  font-size: 35px;
}

.pending {
  border-left: 5px solid gold;
}

.processing {
  border-left: 5px solid dodgerblue;
}

.confirmed {
  border-left: 5px solid deepskyblue;
}

.shipped {
  border-left: 5px solid purple;
}

.delivered {
  border-left: 5px solid green;
}

.cancelled {
  border-left: 5px solid red;
}